@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



.myBooks{
    margin: 160px;
}

.buttonBooks{

    background-color: white;
    border: white 1px solid;
    color: #8D8741;
    margin: 1px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Spectral', serif;



}

.bookTitle {

    font-family: 'Righteous', cursive;
    color:  #d6c583;
    font-size: 20px;
    text-transform: uppercase;


}


div.mybooks {
    margin: 70px;
    min-height: 80vh;
    background-color: white; /*Default bg, similar to the background's base color*/
    background-image: url("https://res.cloudinary.com/dyjahmaif/image/upload/v1647957023/RNI-Films-IMG-821A5020-E576-4B0B-862B-C4D0CABFFAC2_hxhkvy.jpg");
    background-position: right bottom; /*Positioning*/
    border-radius: 8px;

    background-size:30%;

    background-repeat: no-repeat; /*Prevent showing multiple background images*/
 }


