@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.feedDetails {

    color: #d6c583;
    font-family: 'Spectral', serif;
    font-size: 18px;
    margin: 2px;
    padding: 4px;
}





.name {

    
    font-family: 'Righteous', cursive;
    color:  #8D8741;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 70px;
  


}

.buttonauth {
 
    background-color: #5d001e;
    border: #8D8741 1px solid;
    color: white;
    margin: 13px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Spectral', serif;
}

.description {

    color: #d6c583;
    font-family: 'Spectral', serif;
    font-size: 14px;
    margin: 4px;
    padding: 4px;
    text-transform: italic;
}

.tagLabel {
    color: #d6c583;
    font-family: 'Spectral', serif;
    font-size: 14px;
    margin-bottom: 60px;
    padding: 4px;
    text-transform: italic;


}

.userLink {
    font-family: 'Righteous', cursive;
    color:  #d6c583;
    font-size: 12px;
    text-transform: uppercase;
    margin: 3px;

}

.filterDropdown{
    background-color: #ffff;
    width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 2px;
    margin: 30px;
    font-family: 'Spectral', serif;


}

div.bodyFeed {
    margin-top: 70px;
}

.feedDetailsTag {
    color: #8D8741;
    font-family: 'Spectral', serif;
    font-size: 12px;
    margin-bottom: 60px;
    padding: 4px;
    text-transform: italic;
    
}