@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');





 

  

.buttonCreateBook {

    background-color: white;
    border: white 1px solid;
    color: #8D8741;
    margin:3px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Spectral', serif;


}

.createPhotoButton {


        background-color: white;
        border: #8D8741 1px solid;
        color: #8D8741;
        margin: 13px;
        padding: 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-family: 'Spectral', serif;
         
    
    }

.papaPhoto {
    margin: 120px 5px 6px 5px;
    border: #8D8741 1px solid;
    
}


.ImageForm{
    padding: -90px;
}

input[type="url"] {
    width: 200px;
}



 .imageForm__title {
    font-family: 'Righteous', cursive;
    
   


 }

