@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');





 

  

.buttonCreateBook {

    background-color: white;
    border: white 1px solid;
    color: #8D8741;
    margin:3px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Spectral', serif;


}

.createPhotoButton {


        background-color: white;
        border: #8D8741 1px solid;
        color: #8D8741;
        margin: 13px;
        padding: 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-family: 'Spectral', serif;
         
    
    }


   

.ImageForm{
    padding: -90px;
    margin: 25px;
}

input[type="url"] {
    width: 200px;
}



 .imageForm__title {
    font-family: 'Righteous', cursive;
    margin: 30px;
    
   


 }

 div.create {
    margin: 70px;
    min-height: 90vh;
    background-color: white; /*Default bg, similar to the background's base color*/
    background-image: url("https://res.cloudinary.com/dyjahmaif/image/upload/v1647957022/photo-output_14_aksf5l.jpg");
    background-position: right top; /*Positioning*/
    border-radius: 8px;

    background-size:80%;

    background-repeat: no-repeat; /*Prevent showing multiple background images*/
 }


