
 .registerTitle {
    font-family: 'Righteous', cursive;
    margin: 30px;
    
   


 }


 .form--login {

    font-size: 16px;
    font-family: 'Spectral', serif;

 }


 .link--register {
     
    font-size: 16px;
    font-family: 'Spectral', serif;

 }